.main-image {
  background-image:url("imac.jpg");
  background-size: 57% 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgba(0,0,0, 0);
}
.home-image {
  background-image:url("imac.jpg");
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  border-top: 1px solid rgba(0, 0, 0, 0.3);
}

@media screen and (max-width: 1000px) {
  .home-image {
    background-size: contain;
    height: 100%;
  }
}

.display {
  font-size: 56px;
  font-weight: 600;
}

@media screen and (max-width: 600px) {
  .circle-image {
    left: 50%;
    transform: translateX(-50%);
  }
}
@media screen and (min-width: 601px) {
  .circle-image {
    right: 80px;
  }
}
.circle-image {
  background-image:url("mee.jpg");
  background-size:100% 100%;
  background-repeat: no-repeat;
  width:200px;
  height:200px;
  border-radius:50%;
  border: 2px solid #000;
  z-index: 10;
  position:fixed;
  bottom: 5%;
}

.intro {
  font-weight: 500;
  margin-top: 100px;
  padding-left:16px;
  padding-right: 16px;
}

.divider {
  border: 1px solid #888888;
  height:190%;
  margin: 0 24px;
}

.centered {
  width: 900px;
  margin:auto;
  margin-top:24px;
}

.triple-margin {
  margin: 24px;
}

.letter{
  font-weight: 700;
  font-size: 3em;
  margin: 0.5em;
  position: relative;
  transform-style: preserve-3d;
}
.letter:before, .letter:after{
  position:absolute;
  content: attr(data-letter);
  transform-origin: top left;

}
.letter, .letter:before, .letter:after{
  transition: all 0.3s ease-in-out;
}
.letter:before{
  color: #fff;
  text-shadow:
    -1px 0px 1px rgba(255,255,255,.8),
    1px 0px 1px rgba(0,0,0,.8);
  z-index: 3;
  transform:
    rotateX(0deg)
    rotateY(-15deg)
    rotateZ(0deg);
}
.letter:after{
  color: rgba(0,0,0,.11);
  z-index:2;
  transform:
    scale(1.08,1)
    rotateX(0deg)
    rotateY(0deg)
    rotateZ(0deg)
    skew(0deg,1deg);
}
.letter:hover:before{
  color: #fafafa;
  transform:
    rotateX(0deg)
    rotateY(-40deg)
    rotateZ(0deg);
}
.letter:hover:after{
  transform:
    scale(1.08,1)
    rotateX(0deg)
    rotateY(40deg)
    rotateZ(0deg)
    skew(0deg,22deg);
}

.fast-typewriter div{
  color:#BBBBBB;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  padding-bottom: 8px;
  letter-spacing: .05em; /* Adjust as needed */

}

.typewriter div{
  color:#BBBBBB;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .05em; /* Adjust as needed */
  animation:
    typing 2.5s steps(40, end),
    blink-caret .75s step-end infinite;
}
@media screen and (min-width: 800px){
  .fast-typewriter div {
    font-size:32px;
  }
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: #bbbbbb; }
}

.headline {
  font-weight: 400;
  font-size: 2.4em;
  position: relative;
  display: inline-block;
}

.headline:after {
  content: "";
  width:50px;
  top:100%;
  left: 0;
  right: 0;
  margin: 0 auto;
  position:absolute;
  height: 2px;
  background: #7b7cd4;
}

.skill-headline {
  font-weight: 400;
  font-size: 2.4em;
  position: relative;
  display: inline-block;
}

.skill-subhead {
  font-weight: 400;
  font-size:1.8em;
}

.svg-icons {
  width: 64px;
  height:64px;
  margin-right:15px;
}

.card-photos {
  object-fit: fill;
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 800px) {
  .card-photos {
    object-fit: cover;
  }
}

.card-anchor {
  text-decoration: none;
}

md-list-item .md-avatar {
  border-radius: 0;
}

md-list md-list-item.md-3-line .md-list-item-text p li {
  color: rgba(0,0,0,0.54);
}

.no-list-display {
  color: rgba(0,0,0,0.54);
}